.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}

.demo-headline {
  padding: 73px 0 110px;
  text-align: center;
}
.demo-logo {
  font: 900 90px/100px "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: -2px;
  margin: 10px 0;
}
.demo-logo .logo {
  background: url(../images/demo/logo-mask.png) center 0 no-repeat;
  background-size: 236px 181px;
  height: 181px;
  margin: 0 auto 26px;
  overflow: hidden;
  text-indent: -9999em;
  width: 236px;
}
.demo-logo small {
  color: rgba(52, 73, 94, 0.30000000000000004);
  display: block;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0;
  padding-top: 5px;
}
.demo-row {
  margin-bottom: 20px;
}
.demo-row .demo-heading-note,
.demo-row .demo-text-note {
  display: block;
  width: 260px;
  position: absolute;
  bottom: 10px;
  left: 0;
  font-size: 13px;
  line-height: 13px;
  color: #c0c1c2;
  font-weight: 400;
}
.demo-row .demo-text-note {
  bottom: auto;
  top: 10px;
}
.demo-row.typography-row .demo-content {
  float: none;
  width: auto;
  clear: both;
}
.demo-row.typography-row .demo-type-example {
  padding-left: 25%;
  margin-bottom: 40px;
  position: relative;
}
.demo-section-title {
  font: 900 32px/40px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 10px 0;
}
.demo-panel-title {
  padding-top: 20px;
  margin: 2px 0 20px;
  font: bold 23px/40px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.demo-panel-title small {
  color: #798795;
  font-size: inherit;
  font-weight: 400;
}
.demo-navigation {
  margin-bottom: -4px;
  margin-top: -10px;
}
.demo-pager {
  margin-top: -20px;
}
.demo-tooltips {
  height: 126px;
}
.demo-tooltips .tooltip {
  left: -8px !important;
  position: relative !important;
  top: -8px !important;
}
.demo-headings {
  margin-bottom: 12px;
}
.demo-tiles {
  margin-bottom: 46px;
}
.demo-icons {
  font-size: 32px;
  margin-left: -20px;
  padding-left: 20px;
}
.demo-icons .demo-content {
  margin: 0 0 0 -35px;
}
.demo-icons .demo-content > span {
  display: inline-block;
  margin: 0 0 32px 35px;
  width: 24px;
  font-size: 24px;
}
.demo-icons-tooltip {
  bottom: 0;
  color: #c2c8cf;
  font-size: 12px;
  left: 100%;
  margin-left: 0 !important;
  position: absolute;
  width: 80px;
}
.demo-illustrations .demo-content {
  margin: 0 0 0 -40px;
  padding-top: 20px;
}
.demo-illustrations .demo-content:before,
.demo-illustrations .demo-content:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.demo-illustrations .demo-content:after {
  clear: both;
}
.demo-illustrations .demo-content > div {
  float: left;
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin: 0 0 40px 40px;
  text-align: center;
}
.demo-illustrations img {
  display: inline-block;
  max-height: 100px;
  max-width: 100px;
  vertical-align: middle;
}
.demo-samples {
  margin-bottom: 46px;
}
.demo-video {
  padding-top: 95px;
  border-radius: 6px;
}
.demo-download-section {
  float: none;
  margin: 0 auto;
  padding: 60px 0 90px 20px;
  text-align: center;
}
.demo-download-section [class*='fui-'] {
  margin: 3px 0 -3px;
}
.demo-download {
  background-color: #ebedef;
  height: 190px;
  margin: 0 auto 32px;
  padding: 40px 28px 30px 32px;
  text-align: center;
  width: 190px;
  border-radius: 50%;
}
.demo-download img {
  height: 104px;
  width: 82px;
}
.demo-download-text {
  font-size: 15px;
  padding: 20px 0;
  text-align: center;
}
.demo-text-box a:hover {
  color: #1abc9c;
}
.demo-browser {
  background: #2c3e50 url(../images/demo/browser.png) 0 0 no-repeat;
  background-size: 659px 42px;
  color: #ffffff;
  margin: 0 41px 140px 0;
  padding-top: 42px;
  border-radius: 0 0 6px 6px;
}
.demo-browser-side {
  float: left;
  padding: 22px 20px;
  width: 151px;
}
.demo-browser-side > h5 {
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 3px;
  text-transform: none;
  font-weight: 400;
}
.demo-browser-side > h6 {
  font-size: 11px;
  font-weight: 300;
  line-height: 18px;
  margin-top: 3px;
  text-transform: none;
  -webkit-font-smoothing: subpixel-antialiased;
}
.demo-browser-author {
  background: url(../images/demo/browser-author.jpg) center center no-repeat;
  border: 3px solid #ffffff;
  display: block;
  height: 84px;
  margin: 0 auto;
  width: 84px;
  border-radius: 50%;
}
.demo-browser-action {
  padding: 30px 0 12px;
}
.demo-browser-action > .btn {
  padding: 7px 0 8px 11px !important;
  text-align: left;
  border-radius: 3px;
}
.demo-browser-action > .btn:before {
  color: #ffffff;
  content: '\e009';
  font-size: 16px;
  font-family: 'Flat-UI-Icons';
  font-weight: 300;
  margin-right: 12px;
  position: relative;
  top: 1px;
  -webkit-font-smoothing: antialiased;
}
.demo-browser-content {
  background-color: #34495e;
  overflow: hidden;
  padding: 21px 0 0 20px;
  border-radius: 0 0 6px;
}
.demo-browser-content > img {
  border: 6px solid #ffffff;
  float: left;
  margin: 0 15px 20px 0;
  width: 146px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2) {
  .logo {
    background-image: url(../images/demo/logo-mask-2x.png);
  }
  .demo-browser {
    background-image: url(../images/demo/browser-2x.png);
  }
}
.demo-swatches-row [class*="col"] {
  float: left;
  min-height: 1px;
}
.demo-swatches-row .swatches-col {
  width: 800px;
  margin-left: -5px;
}
.demo-swatches-row .swatches-desc-col {
  width: 140px;
  margin-left: 20px;
}

.login {
  background: url(../images/login/imac.png) 0 0 no-repeat;
  background-size: 940px 778px;
  color: #ffffff;
  margin: 38px auto;
  padding: 38px 238px 267px 38px;
  position: relative;
}
.login-screen {
  background-color: #1abc9c;
  min-height: 473px;
  padding: 123px 199px 33px 306px;
}
.login-icon {
  left: 200px;
  position: absolute;
  top: 160px;
  width: 96px;
}
.login-icon > img {
  display: block;
  margin-bottom: 6px;
  width: 100%;
}
.login-icon > h4 {
  font-size: 17px;
  font-weight: 300;
  line-height: 34px;
  opacity: 0.95;
  filter: alpha(opacity=95);
}
.login-icon > h4 small {
  color: inherit;
  display: block;
  font-size: inherit;
  font-weight: 700;
}
.login-form {
  background-color: #edeff1;
  padding: 24px 23px 20px;
  position: relative;
  border-radius: 6px;
}
.login-form:before {
  content: '';
  border-style: solid;
  border-width: 12px 12px 12px 0;
  border-color: transparent #edeff1 transparent transparent;
  height: 0;
  position: absolute;
  left: -12px;
  top: 35px;
  width: 0;
  -webkit-transform: rotate(360deg);
}
.login-form .control-group {
  margin-bottom: 6px;
  position: relative;
}
.login-form .login-field {
  border-color: transparent;
  font-size: 17px;
  text-indent: 3px;
}
.login-form .login-field:focus {
  border-color: #1abc9c;
}
.login-form .login-field:focus + .login-field-icon {
  color: #1abc9c;
}
.login-form .login-field-icon {
  color: #bfc9ca;
  font-size: 16px;
  position: absolute;
  right: 15px;
  top: 3px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.login-link {
  color: #bfc9ca;
  display: block;
  font-size: 13px;
  margin-top: 15px;
  text-align: center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2) {
  .login {
    background-image: url(../images/login/imac-2x.png);
  }
}
.tile-title {
  font-size: 20px;
  margin: 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2) {
  .tile.tile-hot:before {
    background-image: url(../images/tile/ribbon-2x.png);
  }
}
.todo {
  color: #798795;
  margin-bottom: 20px;
  border-radius: 6px;
}
.todo ul {
  background-color: #2c3e50;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-radius: 0 0 6px 6px;
}
.todo li {
  background: #34495e url(../images/todo/todo.png) 92% center no-repeat;
  background-size: 20px 20px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.214;
  margin-top: 2px;
  padding: 18px 42px 21px 25px;
  position: relative;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.todo li:first-child {
  margin-top: 0;
}
.todo li:last-child {
  border-radius: 0 0 6px 6px;
  padding-bottom: 21px;
}
.todo li.todo-done {
  background: transparent url(../images/todo/done.png) 92% center no-repeat;
  background-size: 20px 20px;
  color: #1abc9c;
}
.todo li.todo-done .todo-name {
  color: #1abc9c;
}
.todo-search {
  position: relative;
  background: #1abc9c;
  background-size: 16px 16px;
  border-radius: 6px 6px 0 0;
  color: #34495e;
  padding: 19px 25px 20px;
}
.todo-search:before {
  position: absolute;
  font-family: 'Flat-UI-Icons';
  content: "\e01c";
  font-size: 16px;
  line-height: 17px;
  display: inline-block;
  top: 50%;
  left: 92%;
  margin: -0.5em 0 0 -1em;
}
input.todo-search-field {
  background: none;
  border: none;
  color: #34495e;
  font-size: 19px;
  font-weight: 700;
  margin: 0;
  line-height: 23px;
  padding: 5px 0;
  text-indent: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
input.todo-search-field:-moz-placeholder {
  color: #34495e;
}
input.todo-search-field::-moz-placeholder {
  color: #34495e;
  opacity: 1;
}
input.todo-search-field:-ms-input-placeholder {
  color: #34495e;
}
input.todo-search-field::-webkit-input-placeholder {
  color: #34495e;
}
input.todo-search-field.placeholder {
  color: #34495e;
}
.todo-icon {
  float: left;
  font-size: 24px;
  padding: 11px 22px 0 0;
}
.todo-content {
  padding-top: 1px;
  overflow: hidden;
}
.todo-name {
  color: #ffffff;
  font-size: 17px;
  margin: 1px 0 3px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2) {
  .todo li {
    background-image: url(../images/todo/todo-2x.png);
  }
  .todo li.todo-done {
    background-image: url(../images/todo/done-2x.png);
  }
}
.video-js {
  background-color: transparent;
  margin-top: -95px;
  position: relative;
  padding: 0;
  font-size: 10px;
  vertical-align: middle;
  border-radius: 6px 6px 0 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.video-js .vjs-tech {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px 6px 0 0;
}
.video-js:-moz-full-screen {
  position: absolute;
}
body.vjs-full-window {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-y: auto;
}
.video-js.vjs-fullscreen {
  position: fixed;
  overflow: hidden;
  z-index: 1000;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
  _position: absolute;
}
.video-js:-webkit-full-screen {
  width: 100% !important;
  height: 100% !important;
}
.vjs-poster {
  margin: 0 auto;
  padding: 0;
  cursor: pointer;
  position: relative;
  width: 100%;
  max-height: 100%;
  border-radius: 6px 6px 0 0;
}
.video-js .vjs-text-track-display {
  text-align: center;
  position: absolute;
  bottom: 4em;
  left: 1em;
  right: 1em;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}
.video-js .vjs-text-track {
  display: none;
  color: #ffffff;
  font-size: 1.4em;
  text-align: center;
  margin-bottom: .1em;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
}
.video-js .vjs-subtitles {
  color: #fff;
}
.video-js .vjs-captions {
  color: #fc6;
}
.vjs-tt-cue {
  display: block;
}
.vjs-fade-in {
  visibility: visible !important;
  opacity: 1 !important;
  -webkit-transition: visibility 0s linear 0s, opacity .3s linear;
  transition: visibility 0s linear 0s, opacity .3s linear;
}
.vjs-fade-out {
  visibility: hidden !important;
  opacity: 0 !important;
  -webkit-transition: visibility 0s linear 1.5s, opacity 1.5s linear;
  transition: visibility 0s linear 1.5s, opacity 1.5s linear;
}
.vjs-control-bar {
  position: absolute;
  bottom: -47px;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height: 47px;
  color: #ffffff;
  background: #273747;
  border-radius: 0 0 6px 6px;
}
.vjs-control-bar.vjs-fade-out {
  visibility: visible !important;
  opacity: 1 !important;
}
.vjs-control {
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  float: left;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 18px;
  width: 18px;
}
.vjs-control:focus {
  outline: 0;
}
.vjs-control div {
  background-position: center center;
  background-repeat: no-repeat;
}
.vjs-control-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.vjs-play-control {
  cursor: pointer !important;
  height: 47px;
  left: 0;
  position: absolute;
  top: 0;
  width: 58px;
}
.vjs-play-control div {
  position: relative;
  height: 47px;
}
.vjs-play-control div:before,
.vjs-play-control div:after {
  position: absolute;
  font-family: "Flat-UI-Icons";
  color: #1abc9c;
  font-size: 16px;
  top: 50%;
  left: 50%;
  margin: -0.55em 0 0 -0.5em;
  -webkit-transition: color .25s, opacity .25s;
  transition: color .25s, opacity .25s;
}
.vjs-play-control div:after {
  content: "\e03b";
}
.vjs-play-control div:before {
  content: "\e03c";
}
.vjs-paused .vjs-play-control:hover div:before {
  color: #16a085;
}
.vjs-paused .vjs-play-control div:after {
  opacity: 0;
  filter: alpha(opacity=0);
}
.vjs-paused .vjs-play-control div:before {
  opacity: 1;
  filter: alpha(opacity=100);
}
.vjs-playing .vjs-play-control:hover div:after {
  color: #16a085;
}
.vjs-playing .vjs-play-control div:after {
  opacity: 1;
  filter: alpha(opacity=100);
}
.vjs-playing .vjs-play-control div:before {
  opacity: 0;
  filter: alpha(opacity=0);
}
.vjs-rewind-control {
  width: 5em;
  cursor: pointer !important;
}
.vjs-rewind-control div {
  width: 19px;
  height: 16px;
  background: none transparent;
  margin: .5em auto 0;
}
.vjs-mute-control {
  background: url(../images/video/volume-full.png) center -48px no-repeat;
  background-size: 16px 64px;
  cursor: pointer !important;
  position: absolute;
  right: 51px;
  top: 14px;
}
.vjs-mute-control:hover div,
.vjs-mute-control:focus div {
  opacity: 0;
}
.vjs-mute-control.vjs-vol-0,
.vjs-mute-control.vjs-vol-0 div {
  background-image: url(../images/video/volume-off.png);
}
.vjs-mute-control div {
  background: #273747 url(../images/video/volume-full.png) no-repeat center 2px;
  background-size: 16px 64px;
  height: 18px;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}
.vjs-volume-control,
.vjs-volume-level,
.vjs-volume-handle,
.vjs-volume-bar {
  display: none;
}
.vjs-progress-control {
  position: absolute;
  left: 60px;
  right: 180px;
  height: 12px;
  width: auto;
  top: 18px;
  background: #425669;
  border-radius: 32px;
}
.vjs-progress-holder {
  position: relative;
  cursor: pointer !important;
  padding: 0;
  margin: 0;
  height: 12px;
}
.vjs-play-progress,
.vjs-load-progress {
  position: absolute;
  display: block;
  height: 12px;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  border-radius: 32px;
}
.vjs-play-progress {
  background: #1abc9c;
  left: -1px;
}
.vjs-load-progress {
  background: #d6dbdf;
  border-radius: 32px 0 0 32px;
}
.vjs-load-progress[style*='100%'],
.vjs-load-progress[style*='99%'] {
  border-radius: 32px;
}
.vjs-seek-handle {
  background-color: #16a085;
  position: absolute;
  width: 18px;
  height: 18px;
  margin: -3px 0 0 1px;
  left: 0;
  top: 0;
  border-radius: 50%;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}
.vjs-seek-handle[style*='95.'] {
  margin-left: 3px;
}
.vjs-seek-handle[style='left: 0%;'] {
  margin-left: -2px;
}
.vjs-seek-handle:hover,
.vjs-seek-handle:focus {
  background-color: #148d75;
}
.vjs-seek-handle:active {
  background-color: #117a65;
}
.vjs-time-controls {
  position: absolute;
  height: 20px;
  width: 50px;
  top: 16px;
  font: 300 13px "Lato", Helvetica, Arial, sans-serif;
}
.vjs-current-time {
  right: 128px;
  text-align: right;
}
.vjs-duration {
  color: #5d6d7e;
  right: 69px;
  text-align: left;
}
.vjs-remaining-time {
  display: none;
}
.vjs-time-divider {
  color: #5d6d7e;
  font-size: 14px;
  position: absolute;
  right: 121px;
  top: 15px;
}
.vjs-secondary-controls {
  float: right;
}
.vjs-fullscreen-control {
  background-image: url(../images/video/fullscreen.png);
  background-position: center -47px;
  background-size: 15px 64px;
  cursor: pointer !important;
  position: absolute;
  right: 17px;
  top: 13px;
}
.vjs-fullscreen-control:hover div,
.vjs-fullscreen-control:focus div {
  opacity: 0;
}
.vjs-fullscreen-control div {
  height: 18px;
  background: url(../images/video/fullscreen.png) no-repeat center 2px;
  background-size: 15px 64px;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}
.vjs-menu-button {
  display: none !important;
}